extends layout

block content
  div(ng-controller="MainController as main")
    h1= title
    include menu.jade
    p= desc
    div(class="file-container")
      input(type="file")
    button(type="button") add photo
